  <li class="nav-item">
    <a href="/organization/location/edit?location=<%=param.location%>" class="nav-link <%if(active=='location'){%>active<%}%> ">Location</a>
  </li>
  <li class="nav-item">
    <a href="/organization/departments?location=<%=param.location%>" class="nav-link <%if(active=='departments'){%>active<%}%>">Departments</a>
  </li>
  <li class="nav-item">
    <a href="/organization/teams?location=<%=param.location%>" class="nav-link <%if(active=='teams'){%>active<%}%>">Teams</a>
  </li>