<div class="page-body">
  <div class="container-xl">
<div class="col-12">
  <div class="card">
      <div class="card-header card-header-light">
      <h3>Teams</h3>
      </div>
      <div class="card-body">

            <ul class="nav nav-tabs" data-bs-toggle="tabs">
              <%- include('../partials/tabs.html',{active:'teams'}); %>                   
            </ul>
                    
            <div class="tab-content">
              <br/>
              <div class="container-xl">                    
              <h3>Teams</h3><hr class="header-text"/>
              <div class="row pb-1">
                <div class="col col-3">
                      <div class="input-icon">
                        <span class="input-icon-addon">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                        </span>
                        <input type="text" name="q" id="q" value="" onkeyup="table_hqFTKx.search(event)" data-type="text" data-field='name' data-operator="like" class="form-control table_hqFTKx-searchFilter" placeholder="Search…" aria-label="Search...">
                      </div>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                      <a href="/organization/team/edit?location=<%=param.location%>" class="btn btn-outline-success d-none d-sm-inline">Add Data</a>
                    </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable table-striped" id="tbl-hqFTKx">
                  <thead>
                      <tr>
                        <th>Team Name</th>
                        <th>Address</th>
                        <th></th>
                        <th></th>
                      </tr>
                  </thead>
                  <tbody>    
                  </tbody>
                </table>
                <br/>
                <div id="tbl-hqFTKx-pagination" class="imple-pagination"></div>
              </div>
              </div>
            </div>
          
      </div>
  </div>
</div>
</div>
</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
  var accessAction = [];
  var accessActionData = "<%-accessAction%>";
  var param = JSON.parse('<%-JSON.stringify(param)%>');
  if(accessActionData != "" && accessActionData != undefined) {
      accessAction = JSON.parse(String.raw `<%-JSON.stringify(accessAction)%>`);
  }

  var dataTblorg_teams = JSON.parse(String.raw `<%-JSON.stringify(org_teams)%>`);
  var dataTblorg_teamsPagination = JSON.parse(String.raw `<%-JSON.stringify(org_teamsPagination)%>`);

  var table_hqFTKx = new Table_hqFTKx("table_hqFTKx",accessAction,dataTblorg_teams,dataTblorg_teamsPagination,true,true,true,true);
  onload = () => {
    table_hqFTKx.render(dataTblorg_teams);
    table_hqFTKx.pagination(dataTblorg_teamsPagination);      
  }

</script>
