<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">

          <div class="card">
            <div class="card-header card-header-light">
              <h3>User</h3>
            </div>              
              <div class="card-body">
                <ul class="nav nav-tabs" data-bs-toggle="tabs">
                  <%if(param.user){%>
                    <%- include('../partials/userroletabs.html',{active:'password'}); %>        
                  <%}%>              
                </ul>                
                <div class="tab-content">     
                  <br/>          
                  <form action="/user/password/save" class="needs-validation" id="frm" method="post">
                        <div class="form-group mb-3 col-md-6">
                            <label class="form-label">New Password</label>
                            <div>
                              <input type="password" name="password" class="form-control">
                            </div>
                          </div>                    
                          <div class="form-group mb-3 col-md-6">
                            <label class="form-label">Confirm Password</label>
                            <div>
                              <input type="password" name="confirmpassword" class="form-control">
                            </div>
                          </div>                                                                                                                                                                              
                        <hr/>
                        <div class="form-footer text-right">
                          <div class="spinner-border" id="btn_save_loading" role="status" style="display: none;"><span class="visually-hidden">Loading...</span></div> 
                          <button type="button" id="btn_save" class="btn btn-primary btn-fw btn-save" data-form="frm" method-callback="" method-before="">Save</button>
                        </div>
                    </form>
                </div>
              </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
