<div class="page-body">
	<div class="container-xl">
 		<div class="col-12">
 			<div class="card">
 				<div class="card-body">
 					<ul class="nav nav-tabs" data-bs-toggle="tabs">
 						<li class="nav-item">
 							<a href="#tabs-vvCwnC" class="nav-link active" data-bs-toggle="tab">Information</a>
 						</li>
 
 					</ul>
 					<div class="card-body">
 						<div class="tab-content">
 							<div class="tab-pane active show" id="tabs-vvCwnC">
 								<form action="/complaint/save" class="needs-validation" id="frm-vvCwnC" method="post">
 
 									<div class="form-group mb-3 col-md-12">
 										<label class="form-label">ผู้ร้องเรียน</label>
 											<div class="row g-2">
 											<div class="col">
 												<input type="hidden" name="population_id" id="lookup_jmIlAY" value="<%=complaintRecord.population_id%>">
 												<input type="text" name="population_id_text" id="lookup_jmIlAY_text" value="<%=complaintRecord.population_name%>" required onkeydown="event.preventDefault()" class="form-control " >
 											</div>
 											<div class="col-auto">
 												<button type="button" href="#" class="btn btn-white btn-icon" aria-label="Button" data-title="ผู้ร้องเรียน" data-varibale="populationRecords" data-url="/population" data-headers="ชื่อ,ที่อยู่" data-fields="user_name,address" data-select="id,user_name" data-target="lookup_jmIlAY,lookup_jmIlAY_text" onclick="lookup.open(this)">
 													<svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
 												</button>
 											</div>
 										</div>
 									</div>
 									<div class="form-group mb-3 col-md-12">
 										<label class="form-label">ชื่อเรื่อง</label>
 										<div>
 											<input type="text" name="topic" id="input_zitXjE" maxlength="100" value="<%=complaintRecord.topic%>" required class="form-control " autocomplete="off" >
 										</div>
 									</div>
 
 							<div class="form-group mb-3 col-md-12">
 								<label class="form-label">รายละเอียด</label>
 								<div>
 									<textarea name="detail" id="textarea_OQzRWh" maxlength="100" class="form-control " ><%=complaintRecord.detail%></textarea>
 								</div>
 							</div>
 							<div class="form-group mb-3 col-md-12">
 								<label class="form-label">สถานะการร้องเรียน</label>
 								<div>
 									<select name="complaint_status" id="select_qMbiYB" class="form-select" >
 										<% complaint_statuses.forEach(function(data) { %>
 											<option value="<%=data.id%>" <%if(complaintRecord.complaint_status==data.id){%>selected<%}%> ><%=data.name%></option> 
 										<% })%>
 									</select>
 								</div>
 							</div>
 
 							<div class="form-group mb-3 col-md-12">
 								<label class="form-label">รายละเอียดเพิ่มเติม</label>
 								<div>
 									<textarea name="remark" id="textarea_MGVTLW" maxlength="100" class="form-control " ><%=complaintRecord.remark%></textarea>
 								</div>
 							</div>
 											<%if(accessAction.edit){%> 
 												<div class="spinner-border" id="button_ALCqmt_loading" role="status" style="display: none;"><span class="visually-hidden">Loading...</span></div> 
 												<button type="submit" id="button_ALCqmt" class="btn btn-fw btn-primary btn-save" data-form="frm-vvCwnC" method-callback="" method-before="" >Save</button> 
 											<%}%>
 
 
 								</form>
 							</div>
 
 						</div>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
    var accessAction = [];
    var accessActionData = "<%-accessAction%>";
    var dataParam = '<%-JSON.stringify(param)%>';
    var param = {};
    if(dataParam != ""){
      param = JSON.parse('<%-JSON.stringify(param)%>');
    }    
    if(accessActionData != "" && accessActionData != undefined) {
        accessAction = JSON.parse(String.raw `<%-JSON.stringify(accessAction)%>`);
    }
    0

onload = () => {
        
}
    
    

</script>